<% include ./partials/header %>

<nav class="px-5 navbar navbar-expand-lg navbar-light project-nav">
    <a class="navbar-brand text-white" href="/home">SHADES OF DEMON</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="/projects">PROJECTS</a>
            </li>
            <li class="nav-item active-link">
                <a class="nav-link text-white disabled" href="/gallery">GALLERY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>

<div id="gallery-page">
    <div class="row my-5 py-2">
        <div class="container">
           <h1 id="gallery-page-title" class="py-3">GALLERY</h1>
           <p id="gallery-page-desc">Photography for me is like capturing moments which are otherwise<br>lost forever.
            Hope you enjoy the moments I captured over time.<br>Just hover over the images and see their real colors!</p>
        </div>
    </div>
    <div class="main-gallery my-4">
        <div class="container">
            <div class="row my-5">
                <div class="col-lg-4">
                    <img src="../images/img1.JPG" class="rounded" width="300" height="350">
                </div>
                <div class="col-lg-4">
                    <img src="../images/img1.JPG" class="rounded" width="300" height="350">
                </div>
                <div class="col-lg-4">
                    <img src="../images/img1.JPG" class="rounded" width="300" height="350">
                </div>
            </div>
            <div class="row my-5">
                <div class="col-lg-4">
                    <img src="../images/img1.JPG" class="rounded" width="300" height="350">
                </div>
                <div class="col-lg-4">
                    <img src="../images/img1.JPG" class="rounded" width="300" height="350">
                </div>
                <div class="col-lg-4">
                    <img src="../images/img1.JPG" class="rounded" width="300" height="350">
                </div>
            </div>
            <div class="row my-5">
                <div class="col-lg-4">
                    <img src="../images/img1.JPG" class="rounded" width="300" height="350">
                </div>
                <div class="col-lg-4">
                    <img src="../images/img1.JPG" class="rounded" width="300" height="350">
                </div>
                <div class="col-lg-4">
                    <img src="../images/img1.JPG" class="rounded" width="300" height="350">
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/header %>