<% include ./partials/header %>

<br>
<div class="container">
    <br><br>
    <div class="row">
        <div class="col col-md-7 pt-5">
            <div class="intro-head C mx-sm-auto d-block">
                <h2 class="text-warning">Programming myself to be a better <span class="into-cap">X</span></h2>
            </div>
            <br>
            <div class="intro-text mx-sm-auto d-block">
                <p class="text-white">Explore the various shades of me as a developer, a photography hobbyist, a gamer, a cricket fanatic, an enthusiastic learner and as a person!</p>
            </div>
        </div>
        <div class="col col-md-1"></div>
        <div class="col col-md-4">
            <img src="https://avatars0.githubusercontent.com/u/39908472?s=460&v=4" alt="Profile Picture" class="img-round mx-auto d-block" height="250" width="250">
            <p class="profile-email"><a href="mailto:guptarohan1.rg@gmail.com" class="text-warning">guptarohan1.rg@gmail.com</a></p>
        </div>
    </div>
    <br>
</div>
<br>
<div class="container-fluid bg-warning">
    <h1 class="theme-color about-me">About Me</h1>
</div>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col col-md-4">
            <i class="fas fa-user-tie pt-3"></i>
        </div>
        <div class="col col-md-8">
            <p class="text-white intro-text pt-2">I'm Rohan, of House Gupta, First of His Name, 3rd Year Student of Thapar Institute of Engineering and Technology, King of all my Gadgets, Lover of Food, Watcher of TV Shows, Lord of Humour and Rightful Heir to the Tech Throne! </p>
            <p class="text-white intro-text pt-1">I have gained some experience in technologies like Python, Java and Full Stack Web Development. I'm currently exploring the fields of Machine Learning and Blockchain.</p>
        </div>
    </div>
</div>
<br><br>
<% include ./partials/footer %>