<% include ./partials/header %>

<nav class="px-5 navbar navbar-expand-lg navbar-light project-nav">
    <a class="navbar-brand text-white" href="/home">SHADES OF DEMON</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active-link">
                <a class="nav-link text-white disabled" href="/projects">PROJECTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/gallery">GALLERY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>
<div id="projects-page">
    <div class="row my-5 py-2">
        <div class="container">
           <h1 id="projects-title" class="py-3">PROJECTS</h1>
           <p id="project-desc">I have worked with various technologies like Python, NodeJS, ExpressJS,<br>
            ReactJS, HTML, CSS, JavaScript, MySQL and MongoDB for creating numerous projects.<br>
            Here is a list of some of my projects. For complete code and more projects,<br>visit my <a class="text-success" href="https://github.com/DemonDaddy22">GitHub</a> profile.</p>
        </div>
    </div>
    <div class="projects-list">
        <div class="projects-row-even row my-5 py-5 px-5">
            <div class="col-lg-4">
                <img src="https://images.unsplash.com/photo-1545572695-789c1407474c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80" height="400" width="300" class="rounded projects-img">
            </div>
            <div class="col-lg-8 pt-lg-5">
                <h3 class="text-white text-center py-lg-3">YelpCamp</h3>
                <ul class="text-white">
                    <li>An interactive and responsive website that allows users to create a profile, add campground or view campgrounds added by other users and also interact with them by commenting or reviewing the campgrounds.</li>
                    <li>The front end is built using HTML, CSS, JavaScript and back end is developed using NodeJS, ExpressJS, MongoDB.</li>
                    <li>Want to try out YelpCamp, click <a class="text-warning" href="https://yelp-camper.herokuapp.com/">here</a> and start camping!</li>
                </ul>
            </div>
        </div>
        <div class="projects-row-odd row my-5 py-5 px-5">
            <div class="col-lg-8 pt-lg-5">
                <h3 class="text-center py-lg-3">Insta-Follower</h3>
                <ul>
                    <li> An automated script to find out the list of Instagram accounts that are not following a user back by analyzing the user's following and followers' lists.</li>
                    <li>The web browser automation is achieved using Python and Selenium framework.</li>
                    <li>Are you tired of manually finding out who isn't following you back? Well, use this script to make your life easier and unfollow those mean folks out there!</li>
                 </ul>
            </div>
            <div class="col-lg-4 pl-lg-5">
                <img src="https://images.unsplash.com/photo-1539820156190-faf186a57d94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80" height="400" width="300" class="rounded projects-img">
            </div>
        </div>
        <div class="projects-row-even row my-5 py-5 px-5">
            <div class="col-lg-4">
                <img src="https://images.unsplash.com/photo-1503410759647-41040b696833?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80" height="400" width="300" class="rounded projects-img">
            </div>
            <div class="col-lg-8 pt-lg-5">
                <h3 class="text-white text-center py-lg-3">SplashMyWall</h3>
                <ul class="text-white">
                    <li>A script which allows users to choose a folder for creating a slideshow of desktop wallpapers using the photos contained in the specified folder.</li>
                    <li>A user can also request new high resolution pictures of specified category from Unsplash.</li>
                    <li>The script is developed using Python and Unsplash API.</li>
                    <li>Use this script to set your favourite pictures as desktop background slideshow.</li>
                </ul>
            </div>
        </div>
        <div class="projects-row-odd row my-5 py-5 px-5">
            <div class="col-lg-8 pt-lg-5">
                <h3 class="text-center py-lg-3">Daily News</h3>
                <ul>
                    <li>A responsive web app to display the latest news headlines from various categories using News API.</li>
                    <li>The front end is developed using HTML, CSS and JavaScript and back end is developed using NodeJS, ExpressJS and MongoDB.</li>
                    <li>Who doesn't want to stay up-to-date in this fast paced world? Visit the <a href="https://boiling-thicket-13336.herokuapp.com/news" class="text-warning">website</a> and always stay ahead of everyone!</li>
                </ul>
            </div>
            <div class="col-lg-4 pl-lg-5">
                <img src="https://images.unsplash.com/photo-1557428894-56bcc97113fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80" height="400" width="300" class="rounded projects-img">
            </div>
        </div>
        <div class="projects-row-even row my-5 py-5 px-5">
            <div class="col-lg-4">
                <img src="https://louloulovesdotme.files.wordpress.com/2017/11/hangmanexample.gif" height="400" width="300" class="rounded projects-img">
            </div>
            <div class="col-lg-8 pt-lg-5">
                <h3 class="text-white text-center py-lg-3">HangMan</h3>
                <ul class="text-white">
                    <li>A console-based game which allows user to guess random English words picked up from a file, and on every correct guess, the meaning of the word is web-scraped from Dictionary.com.</li>
                    <li>Word of the day is scraped from Dictionary.com and added to the file which stores various and unique English words.</li>
                    <li>The tools and technologies used to make this application are Python and BeautifulSoup library.</li>
                    <li>Looking for a fun way to improve your vocabulary? You should definitely give this a try!</li>
                </ul>
            </div>
        </div>
        <div class="projects-row-odd row my-4 py-5 px-5">
            <div class="col-lg-8 pt-lg-5">
                <h3 class="text-center py-lg-3">Color-picker</h3>
                <ul>
                    <li>A React app which provides the facilities to choose any color or its various shades from pre-built color palettes in the form of HEX, RGB or RGBA values.</li>
                    <li>User can also create new palettes from scratch by choosing unique colors and drag-n-drop feature to rearrange colors in the palette.</li>
                    <li>JavaScript, ReactJS and Material UI have gone into making this project.</li>
                </ul>
            </div>
            <div class="col-lg-4 pl-lg-5">
                <img src="https://images.unsplash.com/photo-1554938521-9e0763797568?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80" height="400" width="300" class="rounded projects-img">
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>