html {
    position: relative;
    min-height: 100%;
}

body{
    font-family: 'Nunito', sans-serif;
    height: 100%;
    margin-bottom: 60px;
    background: #313233;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.container .text-light {
    margin: 20px 0;
}

.intro-head{
    font-family: 'Lobster', cursive;
    color: white;
    font-weight: bold;
    letter-spacing: 1.05px;
}

.img-round{
    border-radius: 50%;
}

.profile-email{
    margin-top: 1rem;
    text-align: center;
}

.intro-text{
    letter-spacing: 1.05px;
    font-size: larger;
    font-weight: lighter;
}

.about-text{
    letter-spacing: 1.05px;
    font-size: larger;
    font-weight: lighter;
}

.theme-color{
    color: #313233;
}

.about-me{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 20px;
    padding-top: 20px;
}

.iphone-title{
    text-align: center;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 20px;
}

.iphone-sub{
    margin-bottom: 20px;
}

.icon-style{
    color: #ffc107;
    font-size: 200px;
}

#navbarHead{
    font-size: 30px;
}

#navbarLinks{
    font-size: 25px;
}

.navbar{
    border-bottom: 1.25px solid rgba(255, 193, 7, 0.6);
}

.placeCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}